<ion-grid>
  <h1>Lista de actividades</h1>
  <h3 *ngIf="arrayVacio()">No hay actividades registradas</h3>
  <ion-grid *ngFor="let actividad of actividades">
    <ion-row>
      <ion-col>
        {{actividad.hora}}
      </ion-col>
      <ion-col>
        {{actividad.descripcion}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        {{actividad.fecha}}
      </ion-col>
      <ion-col>
        <ion-button (click)="presentPopover(actividad)">
          <ion-icon name="brush"></ion-icon>
        </ion-button>
        <ion-button color="danger" (click)="presentAlertConfirm(actividad.id)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab-button (click)="presentPopover(actividad)">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>

</ion-grid>